/* HomePage CSS2*/
.homepage{
	width: 795px;
	min-height: 100px;
}
.flash{
	width: 100%;
	text-align: center;
	/*margin-left: 2px;*/
}
.home_image{
	width: 95%;
	margin-left: 5px;
	padding: 5px 0px 5px 0px;
	border: 10px none #999999;
	text-align: center;
}
.welcome{
	width: 95%;
	margin-left: 15px;
	padding: 5px 0px 5px 0px;
}
.homepage_desc{
	width: 95%;
	margin-left: 15px;
	padding: 5px 0px 5px 0px;
}
.image_display{
	width: 100%;
	text-align: center;
}
.image_display_img{
	width: 99%;
	text-align: center;
}