/* search */
#search .a {
	font-weight: bold;
	margin-bottom: 2px;
	padding-left: 5px;
}
#search .b {
	margin-bottom: 10px;
}
#search .b .c {
	padding: 5px;
}
#search .b .d {
	margin-top: 10px;
	text-align: right;
	padding: 5px;
}
#search .d {
	clear: both;
	padding: 8px;
}
#search .g {
	width: 100px;
}
#search .f {
	width: 350px;
}
#search .f input {
	float: right;
}
