/* categorymenu */
#myMenuID {
	height: 30px;
	margin: 5px 0px 0px;
	padding: 5px 0px 0px;
	text-align: left;
}
#header #myMenuID {
	margin:0px;
	position:relative;
	top:110px;
}
#ul_0 {
	left: 0px;
	margin: 0px;
	padding: 0px;
	border: 0;
	list-style-type: none;
	display: inline;
	position: relative;
	list-style-position: outside;
	overflow: visible;
	white-space: nowrap;
}
#ul_0 > li{
	border-right: 1px solid #DDDDDD;
	margin: 5px 0px;
	padding: 5px 5px;
	position: relative;
	display: inline;
}
.ul_1 {
	display: block;
	position: absolute;
	left: 5px;
	top: 26px;
	width: 100%;
	min-width: 200px;
	margin: 0px;
	padding: 0px;
	height: 30px;
	border-top: 1px dotted #DDDDDD;
	list-style-type: none;
	background-color: #FFFFFF;
	list-style-position: outside;
	overflow: visible;
	white-space: nowrap;
	z-index: 85;
}
.menu_level_1 {
	padding-left: 5px;
	background-color: #FFFFFF;
	border-bottom: 1px dotted #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.menu_level_0 img.icon {
	position: relative;
	width: 16px;
	height: 16px;
	padding: 0px 5px 0px 0px;
	vertical-align: text-bottom;
}
.menu_level_1 img.icon{
	position: relative;
	width: 16px;
	height: 16px;
	padding: 0px 5px 0px 0px;
	vertical-align: text-bottom;
}
.menu_level_1 span, .menu_level_0 span{
}
#myMenuID .menu_lvl_1 {
	background: none repeat scroll 0 0 transparent;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	padding: 0px 5px 8px 5px;
	white-space: nowrap;
	cursor: pointer;
	color: #000000;
	position: relative;
	height: 22px;
	line-height: 30px;
	min-width: 190px;
	text-decoration: none;
	display: inline-block;
}
#myMenuID .menu_lvl_0 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 10px 8px 10px;
	white-space: nowrap;
	cursor: default;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
