#checkout_address .a, #checkout_address .c {
	margin-bottom: 2px;
	font-weight: bold;
	padding: 5px 0px 2px 5px;
} 

#checkout_address .b, #checkout_address .d {
	padding: 5px;
	margin-bottom: 10px;
}

#checkout_address .b table td {
	vertical-align: top;
}

#checkout_address .e {
	padding-left: 10px;
	cursor: pointer;
}

#checkout_address .f {
	padding-left: 10px;
	cursor: pointer;
}

#checkout_address label {
	display: block;
	width: 100%;
	height: 100%;
}