#pending {
    background: url('../image/hourglass.png') no-repeat;
    padding-left: 148px;
    _height: 128px;
    min-height: 128px;
}

#loadingbar {
    background: url('../image/loading_bar.gif') no-repeat;
}
