/*.gainlayout {height: 1%;}*/

.enlarge{
	filter:alpha(opacity=25);
	-moz-opacity: 0.25; 
}
#contact .a {
	_height: 50px;
}
.TB_overlayBG {
	filter:alpha(opacity=50);
	-moz-opacity: 0.50; 
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
.heading{
behavior: url('catalog/javascript/png/iepngfix.htc');
}
#container {
	width: 1002px;
}
#header .a {
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
#bar .b a {
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
#bar .b a:hover{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
#content {
	width: 1000px;
	margin-bottom: 5px;
}
#columnright {
	width: 194px;
	padding: 0px;
	margin-bottom: 5px;
}
#column  {
	margin-bottom: 0px;

}
#footer {
	height: 70px;
}
.module_content {
	padding: 3px 0px 0px 2px;
	margin: 0px 0px 5px 0px;
}
.heading{
behavior: url('catalog/javascript/png/iepngfix.htc');
}
.headingpadded {
	padding: 5px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
.module{
	padding: 0px 0px 0px 2px;
	margin: 0px;
}
.module_bottom{
	padding: 0px;
	margin: 0px;
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
.headingcolumn{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
.columnBottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
.mini_cart .bottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
#category_description  .bottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
#product .a {
	height: 260px;
}
.pheading {
	clear: none;
}
.buttons{
	height: 20px;
}
.pbox{
	height: 280px;
}
.headingbody {
	behavior: url('catalog/javascript/png/iepngfix.htc');
	margin: 5px 0px 0px 2px;
}
.contentBodyTop{
	behavior: url('catalog/javascript/png/iepngfix.htc');
	margin: 5px 0px -4px 2px;
}
.contentBody {
	margin: 0px 0px 0px 2px;
}
.contentBodyBottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
	margin: 0px 0px 10px 2px;
}
.productcat_top{
	behavior: url('catalog/javascript/png/iepngfix.htc');
	border: 0px;
}
.productcat{
	clear:both;
	height: 190px;
	margin-top: -5px;
}
.productcat_bottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
	margin-left: 5px;
}
.display_optionsBottom{
	behavior: url('catalog/javascript/png/iepngfix.htc');
}
.clearfix{
	height: 1%;
}
.information a {
	background: url('../image/bullet_1.gif') no-repeat 2px 5px;
	width: 160px;
}
