.manufacturer_module {
	left: 0px;
	width: 194px;
	font-size: 10px;
	text-align: center;
	padding-top: 10px;
	margin-top: 0px;
	min-height: 20px;
}
.manufacturer_module .manufacturer_list{
	position: relative;
	width: 180px;
}
.manufacturer_filter{
	left: 0px;
	width: 800px;
	min-height: 40px;
	font-size: 11px;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}
.manufacturer_filter .top_entry{
	left: 0px;
	min-height: 40px;
	display: inline;
	width: 580px;
	clear: both;
	margin: 0px;
	padding: 0px;
}
.manufacturer_filter .entry{
	position: relative;
	width: 50px;
	float: left;
	margin-right: 20px;
	top: 10px;
}
.manufacturer_filter .left{
	position: relative;
	width: 220px;
	min-height: 40px;
	float: left;
	top: 3px;
	vertical-align: middle;
	display: inline;
	font-weight: bold;
	margin: 5px;
	padding: 0px;
}
.manufacturer_filter .left .data{
	position: absolute;
	left: 58px;
	top: 0px;
	min-height: 40px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.manufacturer_filter .floatleft{
	position: relative;
	width: 220px;
	min-height: 40px;
	float: left;
	top: 3px;
	vertical-align: middle;
	font-weight: bold;
	margin: 5px;
	padding: 0px 0px 0px 3px;
}
.manufacturer_filter .floatleft .data{
	position: absolute;
	left: 54px;
	min-height: 40px;
	top: 0px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.manufacturer_filter .right{
	position: relative;
	width: 220px;
	min-height: 40px;
	float: left;
	top: 0px;
	text-align: left;
	margin: 5px;
	padding: 0px;
	font-weight: bold;
}
.manufacturer_filter .right .data{

}
.manufacturer_filter .lowerright{
	position: relative;
	width: 220px;
	float: right;
	padding-left: 5px;
	font-weight: bold;
}
.manufacturer_filter .lowerright .data{
	position: absolute;
	left: 130px;
	min-height: 30px;
	top: 0px;
}
.manufacturer_filter .lowerleft{
	position: relative;
	width: 220px;
	min-height: 40px;
	float: left;
	top: 3px;
	font-weight: bold;
	margin: 5px;
	padding: 0px;
}
.manufacturer_filter .lowerleft .data{
	position: absolute;
	left: 120px;
	top: 0px;
}
.manufacturer_error{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#model select{
	width: 180px;
}
