html {
	overflow: -moz-scrollbars-vertical;
}

body {
	margin: 0;
	padding: 0;
	width: 979px;
	margin-left: -489px;
	left: 50%;
	position: relative;
color: #000000;
}

body, td, th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	
}

select, textarea, input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

.submit {
    border: 2px outset #949CA1;
    background: #949CA1;
    color: #FFFFFF;
    font-weight: bold;
}

img {
	border: none;
}

.png {
	behavior: url('javascript/png/iepngfix.htc');
}

a:visited {
	color: #000000;
}

#header {
	height: 40px;
	background-color: #000000;
	border-bottom: 5px solid #FDB016;
}

#header h1 {
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0px;
	position: absolute;
	top: 6px;
	left: 15px; 
}

#header .a {
	color: #FFFFFF;
	margin: 12px 25px 0px 0px;
	float: right;
}

.task {
	height: 61px;  
	clear: both;
	border-top: 1px solid #FFFFFF; 
	border-bottom: 1px solid #FFFFFF; 
	background: #FFFFFF;  
	padding-left: 10px;
	_padding-left: 0px;	
}

.task div {
	padding: 5px; 
}

.task div img {
	display: block;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.task .enabled, .task .disabled, .hover {
	float: left;
	width: 50px;
	height: 50px;
	margin: 3px 5px;
	text-align: center;
}

.task .enabled {
	cursor: pointer;
	border: 1px solid #0099FF;
	color: #333333;
}

.task .disabled {
	border: 1px solid #D5D5D5;
	color: #999999;
}

.task .hover {
	cursor: pointer;
	border: 1px solid #FDB016;
	background-color: #EBF1FC;
	color: #333333;
}

#footer {
	text-align: center;
	margin: 20px;
	clear: both;
	padding-bottom: 10px;
}

#footer a, #footer a:visited {
	color: #000000;
}

#login {
	background: #E4E5E6;
}

#login {
	width: 260px;
	height: 130px;
	margin-top: 40px;
	margin-left: -140px;
	position: relative;
	left: 48%;
	border: 1px solid #D5D5D5;
}

#login td {
	vertical-align: top;
}

#login_form {
	vertical-align: middle;
	width: 60%;
}

form {
	margin: 0px;
}

#login_button {
	background-color: #949CA1;
	border: 2px outset #949CA1;
	font-weight: bold;
	padding: 3px;
	margin-top: 5px;
	color: #FFFFFF;
}

.button {
	border: 2px outset #949CA1;
	background: #949CA1;
	color: #FFFFFF;
	font-weight: bold;
}

.home {
	border: 1px solid #D5D5D5;
	text-align: center;
	display: inline;
	margin: 5px;
	padding: 3px;
	background-color: #FFFFFF;
}

#time {
	color: #CCCCCC;
	text-align: center;
}

.heading {
	color: #BF3313;
	font-size: 18px;
	margin: 10px 0px 0px 20px;
}

.description {
	color: #333333;
	margin: 0px 0px 5px 20px;
}

#list {
	padding: 10px;
}

#list .a {
	margin-bottom: 5px;
	border-collapse: collapse;
	width: 100%;
}

#list .c {
	text-align: left;	
}

#list .d {
	text-align: center;
}

#list .e {
	text-align: right;
}

.list {
	border-collapse: collapse;
	width: 100%;
}

.list th {	
	height: 28px;
	padding: 0px 4px;
	border-bottom: 3px solid #FDB016;
	cursor: pointer;
}

.list td {
	height: 32px;
	padding: 0px 4px;
	vertical-align: middle;	
	overflow: auto;
}

.list a {
	color: #000000;
	text-decoration: underline;
}

.list img {
	border: 0px;
	padding-top: 1px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.row1 td, .row2 td, .highlight td, .previous td  {
	border-bottom: 1px solid #0099FF;
}

.highlight {
	background-color: #EBF1FC;
}

.row1 {
	background-color: #FFFFFF;
}
 
.row2 {
	background-color: #F9F9F9;	
}

.previous {
	cursor: pointer;
	background-color: #EBF1FC;	
}

.rating {
	color: #0099FF;
	text-transform: uppercase;
	font-weight: bold;
}
 
.box {
	border: 1px solid #A7A6AA;
	background: #FFFFFF;
	overflow: auto;
	height: 148px;
	display: block;
}
 
.box table {
	width: 100%;
}

.box table tr td {
	border-bottom: 1px solid #0099FF;
	cursor: pointer;
}

.error {
	color: #FF0000;
	font-size: 10px;
	display: block;
	clear: both;
}

.required {
	margin: 0;
	color: #FF0000;
	display: inline;
}

.warning {
	color: #000000;
	text-align: center;
	font-size: 10px;  
	background-color: #FFB3B5;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
}

.message {
	color: #000000;
	text-align: center;
	font-size: 10px;
	background-color: #99FF00;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
	margin-top: 5px;
}

.price_old {
	text-decoration: line-through;
}

.price_new {
	color: #FF0000;
}

#phpinfo .a, #phpinfo .b {
	margin: 20px;
	padding: 10px; 
}

#phpinfo .a {
	font-weight: bold; 
}

#phpinfo .b table, .b td, .b tr {
	font-family: Arial, sans-serif; 
	font-size: 11px; 
	text-align: left;
	width: 919px;
}

#phpinfo .p {
	text-align: center;
}

#phpinfo .e {
	background-color: #ccccff; 
	font-weight: bold; 
	font-size: 11px;
	width: 25%;
}

#phpinfo .h {
	background-color: #9999cc; 
	font-weight: bold; 
	font-size: 11px;
}

#phpinfo .v {
	background-color: #cccccc; 
	font-size: 12px;
}

#phpinfo i {
	color: #666666; 
	font-size: 11px;
}

#phpinfo hr {
	display: none; 
	font-size: 11px;
}

#home .a {
	float: left;
	width: 90%;
	margin-left: 5%;
	padding: 10px 0px;
}

#home .a table {
	width: 100%;
	border-collapse: collapse;  
}

#home .a table td {
	text-align: center;
	cursor: pointer;
	padding: 10px;
}

#home .a table img {
	margin-bottom: 3px;
}

#home .b {
	float: left;
	width: 90%; 
	margin-left: 5%; 
}

#home .b table {
	width: 100%;
	border-collapse: collapse;
}

#home .b table th {
	border-bottom: 3px solid #FDB016;
	padding: 4px;
}

#home .b table td {
	padding: 4px;
	cursor: pointer;
}

#home legend {
	border: 1px solid #0099FF;
	padding: 5px;
}

#home fieldset {
	border: 1px solid #0099FF;
	padding: 10px;
}

#home > .b  > fieldset {
	margin-bottom: 10px;
}

#image img {
	border: 1px solid #CCCCCC;
}

#mail {
	margin: 20px 0px 0px 40px;
}

/* invoice */
#report_sale {
	margin-top: 20px;
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
}

#bar {
    background-color: #0099FF;
    border-top: 1px solid #CCCCCC; 
    border-bottom: 1px solid #CCCCCC;
    padding: 3px 3px 0px 10px;
    height: 24px;
}
.version{
	float: left;
	height: 30px;
	margin-top: 0px;
	padding-top: 12px;
	padding-left: 200px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
/* box language */
.language {
    float: right;
    margin-top: 12px;
    padding-right: 10px;
}

.language div {
    display: inline;
}

.language form {
    padding: 0;
    margin: 0;
    display: inline;
}
.product_image{
	border: 1px solid #999999;
	width: 102px;
	height: 102px;
}
.flash_image{
	border: 1px solid #999999;
	width: 304px;
	height: 152px;
}
.tooltip_white {
	display:none;
	background: url('../image/optionwhite.png');
	font-size: 12px;
	height:180px;
	width:370px;
	padding: 20px 20px 20px 20px;
	color:#000000;                           
	z-index: 1000;
}
.set{
	color: #2D2D2D;
	font-weight: bold;
}
.expl{
	color: #006600;
	padding-left: 10px;
}
#dimensions{
	color: #2D2D2D;
	font-weight: bold;
}
#discounts{
	color: #2D2D2D;
	font-weight: bold;
}
#headertable, #extratable, #columntable, #contenttable, #columnrighttable, #footertable, #pagebottomtable, #rules{
	color: #2D2D2D;
	font-weight: bold;
}
.file_input_textbox{
	float: left;
	margin-top: 6px;
}

.file_input_div{
	position: relative; 
	width: 120px; 
	height: 23px; 
	overflow: hidden;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.file_input_button{
	width: 120px; 
	position: absolute; 
	top: 0px;
	background-color: #949CA1;
	color: #FFFFFF;
	border: 2px outset #949CA1;
	font-weight: bold;
}

.file_input_hidden{
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}