/* sitemap */
#sitemap{
	min-height: 500px;
	padding: 5px;
}
#sitemap a {
	text-decoration: none;
}

#sitemap .a {
	left: 0px;
	width: 45%;
}

#sitemap .b {
	float: right;
	width: 45%;
}

#sitemap .a li {
	z-index: 0;
	padding: 1px;
}
#sitemap .b li {
	z-index: 0;
	padding: 1px;
}