/* maintenance  css*/
html {
}
/* body */
body { 
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
}
body, td, th, input, textarea, select, a {
	font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-size: 11px;
	color: #000000;
}
b, strong, th {
	color: #000000;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
.png {
	
}
a img {
	border: none;
}
a:hover {
	text-decoration: none;
}
/* layout */
h1 { 
	display: none;
}
#container {
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
	padding-left: 1px;
}
#header {
	height: 110px;
	clear: both;

}
#header .a {
	width: 460px;
	height: 59px;
	left: 273px;
	position: absolute;
	top: 5px;
}
#header .b a img {
	width: 14px;
	height: 8px;
}
#column {
	width: 97px;
	margin: 0px 0px 0px 0px;
	float: left;
	min-height: 320px;
	height: 100%;	
}
#content {
	position:relative;
	left: 0px;
	margin: 0px 0px 10px 0px;
	float: left;
	padding-left: 4px; 
	padding-right: 2px; 
	width: 795px;
	min-height: 320px;
	height: 100%;
}

#footer {
	clear: both;  
	margin-bottom: 1px;
	min-height: 70px;
}
#footer .a {
	float: left;
	margin-top: 18px;
	min-height: 30px;
	padding-left: 5px;
}
#footer .b {
	margin-top: 12px;
	font-size: 12px;
	font-weight: bold;
	float: right;
	color: #000000;
	text-align: right;
	padding-right: 10px;
}
#footer .b a {
	color: #66FFFF;
	text-decoration: none;
}
#footer .c{
	position: absolute;
	overflow: hidden;
	padding: 0px 10px 0px 10px;
}
#footer .d{
	font-weight: bold;
	float: left;
	padding: 15px 0px 0px 10px;
}
#time {
	color: #EEEEEE;
	text-align: center;
	clear: both;
}
#maintenance {
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica,_sans-serif;
}
#maintenance .b {
	padding: 25px;
	margin-bottom: 10px;
}
.headingpadded {
	font-size: 14px;
	font-weight: 600;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-align: center;
	clear: both;
	max-width: 795px;
	height: 25px;
	padding-top: 5px;
	margin-top: 5px;
}
.module {
	left: 0px;
	width: 795px;
	margin-top: 0px;
	padding-top: 0px;
	min-height: 160px;/* Should set min height to allow some overflow */
}
.module_bottom{
	padding-left: 0px;
	padding-bottom: 0px;
	height: 9px;
	width: 795px;	
}