@media screen,print {
html {
	overflow: -moz-scrollbars-vertical;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	color: #000;
}

body, td, th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
		
}

select, textarea, input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	border: 1px solid #999;
	padding: 3px;
}
select, textarea {
	background-color: #FFF;
}
.submit {
	background: #FF7E33 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-khtml-border-radius: 0.4rem;
	color: #fff;
	font-size: 100%;
	font-weight: 600;
	line-height: 0.6rem;
	padding: 10px 22px;
	cursor: pointer;
}
.submit:hover, .submit:active, .submit:focus {
	background-color: #ff5e00;
}
img {
	border: none;
}

.png {
	behavior: url('javascript/png/iepngfix.htc');
}
.status {
	behavior: url('javascript/png/iepngfix.htc');
}
a:visited {
	color: #000;
}

#header {
/*	height: 40px;*/
}

#header h1 {
	font-size: 24px;
	font-weight: normal;
	color: #2F2F2F;
	margin: 0px;
	position: absolute;
	top: 8px;
	left: 15px; 
}

#header .a {
	color: #2F2F2F;
	margin: 9px 25px 0px 0px;
	float: right;
}

#header .language input {
	padding: 0px;
	height: 11px;
}

.task {
	height: 73px;  
	clear: both;
	border-top: 1px solid #FFF; 
	border-bottom: 1px solid #FFF; 
	background: #FFF;
	padding-left: 10px;
	_padding-left: 0px;
}

.task div {
	padding: 5px; 
}

.task div img {
	display: block;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.task .enabled, .task .disabled, .hover {
	float: left;
	width: 50px;
	height: 50px;
	margin: 3px 5px;
	text-align: center;
}

.task .enabled {
	cursor: pointer;
	border: 5px solid #FFAE00;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	color: #333;
}

.task .disabled {
	border: 5px solid #D5D5D5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	color: #999;
}

.task .hover {
	cursor: pointer;
	border: 5px solid #09F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-color: #EBF1FC;
	color: #333;
}

#footer {
	text-align: center;
	margin: 20px;
	clear: both;
	padding-bottom: 10px;
	color: #2d2d2d;
}

#footer a, #footer a:visited {
	color: #2d2d2d;
}

#login {
	background: #FFF;
}

#login {
	width: 260px;
	height: 130px;
	margin-top: 40px;
	margin-left: -140px;
	position: relative;
	left: 48%;
	border: 2px solid #858585;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
}

#login td {
	vertical-align: top;
}

#login_form {
	vertical-align: middle;
	width: 60%;
}

#login_form input[type="text"], #login_form input[type="password"]{
	padding: 6px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
}

form {
	margin: 0px;
}
#login_button {
	background: #FF7E33 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-khtml-border-radius: 0.4rem;
	color: #fff;
	font-size: 100%;
	font-weight: 600;
	line-height: 0.6rem;
	padding: 10px 22px;
	margin-top: 5px;
	float: right;
	cursor: pointer;
}
#login_button:hover, #login_button:active, #login_button:focus {
	background-color: #ff5e00;
}
.button {
	background: #FF7E33 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-khtml-border-radius: 0.4rem;
	color: #fff;
	font-size: 100%;
	font-weight: 600;
	line-height: 0.6rem;
	padding: 10px 22px;
}
.button:hover, .button:active, .button:focus {
	background-color: #ff5e00;
}
.home {
	border: 1px solid #D5D5D5;
	text-align: center;
	display: inline;
	margin: 5px;
	padding: 3px;
	background-color: #FFF;
}

#time {
	color: #CCC;
	text-align: center;
}

.heading {
	color: #DE1616;
	font-size: 26px;
	margin: 5px 0px 0px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.heading em {
	color: #060;
	font-style: normal;
	margin-left: 5px;
	text-decoration: none;
	text-transform: none;
}

.description {
	color: #333;
	margin: 0px 0px 5px 20px;
}

.help {
	position: relative;
	float: right;
	cursor: pointer;
}
#list {
	padding: 10px;
}

#list .a {
	margin-bottom: 5px;
	border-collapse: collapse;
	width: 100%;
}

#list .c {
	text-align: left;
}

#list .d {
	text-align: center;
}

#list .e {
	text-align: right;
}
#list .f {
	text-align: center;
}
.list {
	border-collapse: collapse;
	width: 100%;
}

.list th {	
	height: 28px;
	padding: 0px 4px;
	border-bottom: 3px solid #FFAE00;
	cursor: pointer;
}

.list td {
	height: 32px;
	padding: 0px 4px;
	vertical-align: middle;	
	overflow: auto;
}

.list a {
	color: #000;
	text-decoration: underline;
}
.list a[href^="mailto:"] { 
	text-decoration: none;
}
.list img {
	border: 0px;
	padding-top: 1px;
}
.last_visited {
	color: #FF5E00;
	font-weight: bold;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}
.leftbutton {
	float: left;
}

.rightbutton {
	float: right;
}
.center {
	text-align: center;
}
.action {
	text-align: right;
}
.option {
	text-align: center;
}
.row1 td, .row2 td, .highlight td, .previous td  {
	border-bottom: 1px solid #09F;
}

.highlight {
	background-color: #EBF1FC;
}

.row1 {
	background-color: #FFF;
}
 
.row2 {
	background-color: #F9F9F9;
}
.previous {
	cursor: pointer;
	background-color: #EBF1FC;
}

.rating {
	color: #09F;
	text-transform: uppercase;
	font-weight: bold;
}
 
.box {
	border: 1px solid #A7A6AA;
	background: #FFF;
	overflow: auto;
	height: 148px;
	display: block;
}
 
.box table {
	width: 100%;
}

.box table tr td {
	border-bottom: 1px solid #09F;
	cursor: pointer;
}

.error {
	color: #F00;
	font-size: 10px;
	display: block;
	clear: both;
}

.success {
	color: #000;
	background-color: #9F0;
}

.required {
	margin: 0;
	color: #F00;
	display: inline;
}

.warning {
	color: #000;
	text-align: center;
	font-size: 10px;  
	background-color: #FFB3B5;
	padding: 3px;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.warning a {
    	color: #060;
}

.warning a:hover {
    	text-decoration: none;
}

.message {
	color: #000;
	text-align: center;
	font-size: 10px;
	background-color: #9F0;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
	margin-top: 5px;
}

.price_old {
	text-decoration: line-through;
}

.price_new {
	color: #F00;
}

#phpinfo .a, #phpinfo .b {
	margin: 20px;
	padding: 10px; 
}

#phpinfo .a {
	font-weight: bold; 
}

#phpinfo .b table, #phpinfo .b td, #phpinfo .b tr {
	font-family: Arial, sans-serif; 
	font-size: 11px; 
	text-align: left;
	width: 919px;
	margin: auto;
}

#phpinfo .p {
	text-align: center;
}

#phpinfo .e {
	background-color: #CCF; 
	font-weight: bold; 
	font-size: 11px;
	width: 25%;
}

#phpinfo .h {
	background-color: #99C; 
	font-weight: bold; 
	font-size: 11px;
}

#phpinfo .v {
	background-color: #CCC; 
	font-size: 12px;
}

#phpinfo i {
	color: #666; 
	font-size: 11px;
}

#phpinfo hr {
	display: none; 
	font-size: 11px;
}
#home {background-color:#FFF;}
#home .a {
	float: left;
	width: 90%;
	margin-left: 5%;
	padding: 10px 0px;
}

#home .a table {
	width: 100%;
	border-collapse: collapse;  
}

#home .a table td {
	text-align: center;
	cursor: pointer;
	padding: 10px;
}

#home .a table img {
	margin-bottom: 3px;
}

#home .b {
	float: left;
	width: 90%; 
	margin-left: 5%; 
}

#home .b table {
	width: 100%;
	border-collapse: collapse;
}

#home .b table th {
	border-bottom: 3px solid #FFAE00;
	padding: 4px;
}

#home .b table td {
	padding: 4px;
	cursor: pointer;
}

#home legend {
	border: 1px solid #09F;
	padding: 5px;
}

#home fieldset {
	border: 1px solid #09F;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#home > .b  > fieldset {
	margin-bottom: 10px;
}

#image img {
	border: 1px solid #CCC;
}

#mail {
	margin: 20px 0px 0px 40px;
}

/* invoice */
#report_sale {
	margin-top: 20px;
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
}

#bar {
    background-color: #09F;
    border-top: 1px solid #CCC; 
    border-bottom: 1px solid #CCC;
    padding: 3px 3px 0px 10px;
    height: 24px;
}
.version{
	float: left;
	height: 20px;
	margin-top: 0px;
	padding-top: 38px;
	padding-left: 15px;
	width: 200px;
	font-size: 11px;
	font-weight: normal;
	color: #2F2F2F;
}
/* box language */
.language {
    float: right;
    margin-top: 8px;
    padding-right: 10px;
}

.language div {
    display: inline;
}

.language form {
    padding: 0;
    margin: 0;
    display: inline;
}
.product_image{
	border: 1px solid #999;
	width: 102px;
	height: 102px;
}
.footer_logo_image, .logo_image, .signature_image, .stamp_image{
	border: 1px solid #999;
	width: 500px;
	height: 70px;
	text-align: center;
	background: url('../image/trbg.png');
}
.stamp_image {
	height: 140px;
}
#favicon{
	text-align: center;
	background: url('../image/trbg.png');
	height: 40px;
}
.wm_image{
	border: 1px solid #999;
	height: 100px;
	text-align: center;
	background: url('../image/trbg.png');
}
.wm_wmimage, .pre_view{
	height: 310px;
	text-align: center;
	background: url('../image/trbg.png');
	border-right: 5px solid #FFF;
}
.flash_image{
	border: 1px solid #999;
	width: 304px;
	height: 152px;
}
.tooltip_large {
	display:none;
	background: url('../image/Instruction489x289.png');
	font-size: 12px;
	height:250px;
	width:450px;
	padding: 20px 20px 20px 20px;
	color:#060;
	z-index: 1000;
}
.tooltip_white {
	display:none;
	background: url('../image/optionwhite.png');
	font-size: 12px;
	height:160px;
	width:350px;
	padding: 30px 30px 30px 30px;
	color:#060;
	z-index: 1000;
}
.set{
	color: #2D2D2D;
	font-weight: bold;
}
.expl{
	color: #060;
	padding-left: 10px;
}
#dimensions{
	color: #2D2D2D;
	font-weight: bold;
}
#discounts{
	color: #2D2D2D;
	font-weight: bold;
}
#headertable, #extratable, #columntable, #contenttable, #columnrighttable, #footertable, #pagebottomtable, #rules{
	color: #2D2D2D;
	font-weight: bold;
}
.file_input_textbox{
	margin-top: 6px;
}
.file_input_div{
	height: 32px; 
	overflow: hidden;
}
.file_input_hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file_input_hidden + label {
	cursor: pointer;
}
.file_input_hidden + label {
	background: #FF7E33 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-khtml-border-radius: 0.4rem;
	color: #fff;
	font-size: 100%;
	font-weight: 600;
	line-height: 0.6rem;
	padding: 10px 22px;
	display: inline-block;
}
.file_input_hidden:focus + label, .file_input_hidden.has-focus + label, .file_input_hidden + label:hover {
	background-color: #ff5e00;
}
#preview{
	position: absolute;
	display:none;
	background:#09F;
	padding:4px;
	color:#FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 999;
	text-align: center;
}
#working {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
}
@media print {
	body {
		color: black; 
		background-color: white;
	}
	#header, #myMenuID, .task, .description, .help, #footer, #list .a .e, #list .a .d, .list .action, #prev, #search, #encrypt, #reset  {
		display:none;
	}
	#list .a .f select {border: none;}
	#list .list a {text-decoration: none;}
	#invoice .c a {text-decoration: none;}
}
