html, body, form {
  margin: 0;
  padding: 0;
}

body, td, th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	
}

select, textarea, input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

body{
	background-color: #EEEEEE;
}

p,div {
	padding: 2px 0;
}

h1 {
	font-size: 28px;
	text-align: center;
	padding: 10px 0;
}

#container {
	width: 600px;
	margin: 0 auto;
	padding: 15px;
	background-color: #EEEEEE;
}
#logo{
  position: relative;
	background:url('image/aclogo.png') no-repeat;
	height: 110px;
	width: 460px;
	clear: both;
	left: 70px;
	background-color: #EEEEEE;
}

#header { 
	padding: 5px;
	margin: 5px;
	height: 30px;
	border: 1px dashed #0099FF;
	font-size: 24px;
}

#content {
	padding: 5px;
	margin: 5px;
	border: 1px dashed #0099FF;	
}

#footer {
	padding: 5px;
	margin: 5px;
	border: 1px dashed #0099FF;
	text-align: center;
}

.required {
	color: #FF0000;
	margin-right: 5px;
}

.error {
	color: #FF0000;
	display: block;
	clear: both;
	line-height: 18px;
}

.warning {
	background-color: #FFB3B5;
	padding: 3px;
	line-height: 18px;
}

.good {
	color: #669900;
	font-weight: bold;
}

.bad {
	color: #FF0000;
	font-weight: bold;	
}
.center {
	text-align: center;
	margin: 0 auto;
	background-color: #EEEEEE;
}
.set{
	color: #2D2D2D;
	font-weight: bold;
}
.submit {
    border: 2px outset #949CA1;
    background: #949CA1;
    color: #FFFFFF;
    font-weight: bold;
}
.button {
	border: 2px outset #949CA1;
	background: #949CA1;
	color: #FFFFFF;
	font-weight: bold;
}
.a{
	color: #006600;
	font-weight: bold;
}