html, body, form {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #FFFFFF;
	color: #858585;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
#wrap {
	min-height: 100%;
}
select, textarea, input {
	color: #000000;
	border: 1px solid #858585;
}
h1 {
	font-size: 28px;
	text-align: center;
	font-weight: normal;
}
#header { 
	height: 70px; 
}
.header_content {
	width: 1000px;
	margin: auto;
}
.header_content img {
	position: absolute;
 	height: 67px; 
 	width: 300px; 
	top: 5px;
	padding-left: 5px;
}
.header_content .language {
	position: relative;
	float: right;
	top: 23px;
}
.header_content .language form {
	display: inline-block;
}
#container {
	width: 800px;
	margin: 0 auto;
 	overflow: auto;
 	padding-bottom: 40px; 
}
#content {
	padding: 0px;
	margin: 0px;
}
#content input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	width: 190px;
}
#content input[readonly] {
	background-color: #DDDDDD;
}
table {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
table tr {
	height: 40px;
}
#footer {
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-top: -40px;
	height: 40px;
	clear: both;
}
#footer ul {
	margin: 0;
	padding-top: 10px;
}
#footer ul li {
	display: inline;
}
#footer ul li a {
	color: #858585;
	font-weight: bold;
	text-decoration: none;
	margin: 0px 100px;
}
.required {
	color: #FF1800;
	margin-right: 5px;
}
.error {
	color: #DE1616;
	display: block;
	clear: both;
	line-height: 18px;
	padding-left: 5%;
}
.warning {
	padding-left: 5%;
	line-height: 16px;
	color: #FFAE00;
}
.set{
	color: #000000;
	font-weight: bold;
}
.submit {
	border: none;
	background: #DE1616;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
}
#buttons {
	text-align: center;
	padding: 5px;
}
#buttons img {
	border: 1px solid #858585;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#buttons img:hover {
	cursor: pointer;
}
.right {
	float: right;
	padding-right: 30px;
}
.left {
	float: left;
	padding-left: 30px;
}
.b {
	color: #FF5E00;
	font-weight: bold;
	font-size: 14px;
}
/*Opera Fix by Maleika (Kohoutec)*/
/*Sticky Footer Solution*/
/*by Steve Hatcher */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
