# Uncomment this to ensure that register_globals is Off
# php_flag register_globals Off

# URL Alias - see install.txt
# Prevent access to .tpl
<Files ~ "\.tpl$">
Order allow,deny
Deny from all
</Files>

Options +FollowSymlinks

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /

# AlegroCart REWRITES START
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?$1 [L,QSA]
# AlegroCart REWRITES END

</IfModule>

# Try if you have problems with url alias
# RewriteRule ^(.*) index.php [L,QSA]

# Hide Apache version normally seen at the bottom of 404 error pages, directory listing..etc.
ServerSignature Off

# Some servers run PHP in CGI mode (not as an Apache module), so "php_value" or "php_flag" cannot be used in .htaccess files
# If you try to do so, you will get an "internal server error" message
# In this case modify your php.ini file to get the same effect

# Modify max uploadable file size if needed
# php_value upload_max_filesize 128M
# php_value post_max_size 128M

# Increase the maximum number of input variables allowed for PHP scripts
# php_value max_input_vars 6000

# Enable compression for text files
<IfModule mod_deflate.c>
 <FilesMatch ".+\.(js|css|html|htm|php|xml)$">
  SetOutputFilter DEFLATE
 </FilesMatch>
</IfModule>

# EXPIRES CACHING
# Store website’s components in browser’s cache until they expire. Support old browsers.
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A31536000
 <FilesMatch ".+\.(ico|jpe?g|png|gif|swf)$">
  ExpiresDefault A604800
 </FilesMatch>
ExpiresByType application/xhtml+xml "access plus 0 seconds"
ExpiresByType text/html "access plus 0 seconds"
</IfModule>
# EXPIRES CACHING

# BEGIN Cache-Control Headers. This will override Expires Caching set above
<IfModule mod_headers.c>
 <filesMatch ".+\.(ico|jpe?g|png|gif|swf)$">
  Header set Cache-Control "max-age=604800, public"
 </filesMatch>
 <filesMatch ".+\.(js|css)$">
  Header set Cache-Control "max-age=31536000, public"
 </filesMatch>
 <filesMatch ".+\.(x?html?|php)$">
  Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
 </filesMatch>
</IfModule>
# END Cache-Control Headers

# Disable ETags as we have own process
<IfModule mod_headers.c>
Header unset ETag
</IfModule>
FileETag None
