body {
	background:  url('../image/color3/grey/headerbackground.png') top repeat-x;
	background-color: #CCCCCC; /*Background Color*/
}
#container {
	background:  url('../image/color3/grey/headerbackground.png') top repeat-x;
	background-color: #CCCCCC; /*Background Color*/
}
#header .a {
	/*background: url('../image/color3/grey/shoppingcart.png') no-repeat;*/
}
#bar .b a {
	background: url('../image/color3/grey/tabup.jpg');
}
#bar .b a:hover{
	background: url('../image/color3/grey/tabdown.jpg');
}
#content {
	background-color: #CCCCCC; /*Background Color*/
	border: 1px solid #CCCCCC; /*Background Color*/
}
#column {
	background-color: #CCCCCC; /*Background Color*/
}
#columnright {
	background-color: #CCCCCC; /*Background Color*/
}
#footer {
	background: url('../image/color3/grey/footer.png') no-repeat;
}
.heading {
	background: url('../image/color3/grey/headingSingle600.png') top left no-repeat;
	color: #FFFFFF; /* Font Color*/
}
.heading a{
	color: #FFFFFF; /* Font Color*/
}
.heading .right {
	color: #FFFFFF; /* Font Color*/
}
.headingpadded {
	background: url('../image/color3/grey/heading600.png') top left no-repeat;	
	color: #FFFFFF; /* Font Color*/
}
.headingpadded  a{
	color: #FFFFFF; /* Font Color*/
}
.headingpadded .left {
	color: #FFFFFF; /* Font Color*/
}
.headingpadded .right{
	color: #FFFFFF; /* Font Color*/
}
.module {
	background: url('../image/color3/grey/contentCenter600.png') top left repeat-y; 
}
.module_bottom{
	background: url('../image/color3/grey/contentBottom600.png') bottom no-repeat;
}
.headingcolumn{
	background: url('../image/color3/grey/columnHeading.png') top left no-repeat;
	color: #FFFFFF; /* Font Color*/
}
.module_column{
	background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
.columnBottom{
	background: url('../image/color3/grey/columnBottom.png') bottom no-repeat;
}
.mini_cart{
	position: relative; /*position: absolute; positions cart to top right*/
}
.mini_cart .cart{
background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
.mini_cart .bottom{
	background: url('../image/color3/grey/columnBottom.png') bottom no-repeat;
}
.information{
	background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
#category_description .center{
	background: url('../image/color3/grey/contentCenter590.png') top left repeat-y; 
}
#category_description  .bottom{
	background: url('../image/color3/grey/contentBottom590.png') bottom no-repeat;
}
.headingbody {
	background: url('../image/color3/grey/heading590.png') top left no-repeat;
	color: #FFFFFF; /* Font Color*/
}
.contentBodyTop{
	background: url('../image/color3/grey/contentTop590.png') top center no-repeat;	
}
.contentBody {
	background: url('../image/color3/grey/contentCenter590.png') top left repeat-y;
}
.contentBodyBottom{
	background: url('../image/color3/grey/contentBottom590.png') bottom no-repeat;
}
.productcat_top{
	background: url('../image/color3/grey/contentTop590.png') top center no-repeat;	
}
.productcat{
	background: url('../image/color3/grey/contentCenter590.png') top center repeat-y;
}
.productcat_bottom{
	background: url('../image/color3/grey/contentBottom590.png') bottom center no-repeat;
}
.display_options{
	background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
.display_optionsBottom{
	background: url('../image/color3/grey/columnBottom.png') bottom left no-repeat;
}
.manufacturer_module {
	background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
.category {
	background: url('../image/color3/grey/columnCenter.png') top left repeat-y;
}
.category a{
	color: #000000; /* Font Color*/
}
.category .menu_breadcrumb{
	background-color: #D0D0D0;
	color: #000000;
}
.category .cat_lvl_0 {
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFFFFF; 
}
.category .cat_lvl_0:hover{
       	background-color: #D0D0D0;
	color: #000000;
}
.category .cat_lvl_0active {
        border: 2px solid rgba(0,0,0,0);
        background-color: #B2B2B2;
	color: #FFFFFF;
}
.category .cat_lvl_1 {
        margin-left: 15px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_1:hover{
	background-color: #D0D0D0;
	color: #000000;
}
.category .cat_lvl_1active {
        margin-left: 15px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #B2B2B2;
	color: #FFFFFF;
}
.category .cat_lvl_2 {
	margin-left: 30px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_2:hover{
	background-color: #D0D0D0;
	color: #000000;
}
.category .cat_lvl_2active {
	margin-left: 30px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #B2B2B2;
	color: #FFFFFF;
}
.category .cat_lvl_3 {
	margin-left: 45px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_3:hover{
	background-color:#D0D0D0;
	color: #000000;
}
.category .cat_lvl_3active {
	margin-left: 45px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #B2B2B2;
	color: #FFFFFF;
}
.category .cat_lvl_4 {
	margin-left: 60px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_4:hover{
	background-color: #D0D0D0;
	color: #000000;
}
.category .cat_lvl_4active {
	margin-left: 60px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #B2B2B2;
	color: #FFFFFF;
}
.results {
		border: 1px solid #EEEEEE;
}