body {
	background:  url('../image/color2/orange/headerbackground.png') top repeat-x;
	background-color: #EEEEEE; /*Background Color*/
}
#container {
	background:  url('../image/color2/orange/headerbackground.png') top repeat-x;
	background-color: #EEEEEE; /*Background Color*/
}
#header .a {
	/*background: url('../image/color2/orange/shoppingcart.png') no-repeat;*/
}
#bar .b a {
	background: url('../image/color2/orange/tabup.png');
}
#bar .b a:hover{
	background: url('../image/color2/orange/tabdown.png');
	color: #000000;
}
#content {
	background-color: #EEEEEE; /*Background Color*/
	border: 1px solid #EEEEEE; /*Background Color*/
}
#column {
	background-color: #EEEEEE; /*Background Color*/
}
#columnright {
	background-color: #EEEEEE; /*Background Color*/
}
#footer {
	background: url('../image/color2/orange/footer.png') no-repeat;
}
.heading {
	background: url('../image/color2/orange/headingSingle795.png') top left no-repeat;
	color: #000000; /* Font Color*/
}
.heading a{
	color: #000000; /* Font Color*/
}
.heading .right {
	color: #000000; /* Font Color*/
}
.headingpadded {
	background: url('../image/color2/orange/heading795.png') top left no-repeat;	
	color: #000000; /* Font Color*/
}
.headingpadded .left {
	color: #000000; /* Font Color*/
}
.headingpadded .right {
	color: #000000; /* Font Color*/
}
.module {
	background: url('../image/color2/orange/contentCenter795.png') top left repeat-y; 
}
.module_bottom{
	background: url('../image/color2/orange/contentBottom795.png') bottom no-repeat;
}
.headingcolumn{
	background: url('../image/color2/orange/columnHeading.png') top left no-repeat;
	color: #000000; /* Font Color*/
}
.module_column{
	background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
.columnBottom{
	background: url('../image/color2/orange/columnBottom.png') bottom no-repeat;
}
.mini_cart{
	position: relative; /*position: absolute; positions cart to top right*/
}
.mini_cart .cart{
background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
.mini_cart .bottom{
	background: url('../image/color2/orange/columnBottom.png') bottom no-repeat;
}
.information{
	background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
#category_description .center{
	background: url('../image/color2/orange/contentCenter790.png') top left repeat-y; 
}
#category_description  .bottom{
	background: url('../image/color2/orange/contentBottom790.png') bottom no-repeat;
}
.headingbody {
	background: url('../image/color2/orange/heading790.png') top left no-repeat;
	color: #000000; /* Font Color*/
}
.contentBodyTop{
	background: url('../image/color2/orange/contentTop790.png') top center no-repeat;	
}
.contentBody {
	background: url('../image/color2/orange/contentCenter790.png') top left repeat-y;
}
.contentBodyBottom{
	background: url('../image/color2/orange/contentBottom790.png') bottom no-repeat;
}
.productcat_top{
	background: url('../image/color2/orange/contentTop790.png') top center no-repeat;	
}
.productcat{
	background: url('../image/color2/orange/contentCenter790.png') top center repeat-y;
}
.productcat_bottom{
	background: url('../image/color2/orange/contentBottom790.png') bottom center no-repeat;
}
.display_options{
	background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
.display_optionsBottom{
	background: url('../image/color2/orange/columnBottom.png') bottom left no-repeat;
}
.manufacturer_module {
	background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
.category {
	background: url('../image/color2/orange/columnCenter.png') top left repeat-y;
}
.category a{
	color: #000000; /* Font Color*/
}
.category .menu_breadcrumb{
	background-color: #FFD0B2;
	color: #000000;
}
.category .cat_lvl_0 {
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFFFFF; 
}
.category .cat_lvl_0:hover{
       	background-color: #FFD0B2;
	color: #000000;
}
.category .cat_lvl_0active {
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFB27F;
	color: #FFFFFF;
}
.category .cat_lvl_1 {
        margin-left: 15px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_1:hover{
	background-color: #FFD0B2;
	color: #000000;
}
.category .cat_lvl_1active {
        margin-left: 15px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFB27F;
	color: #FFFFFF;
}
.category .cat_lvl_2 {
	margin-left: 30px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_2:hover{
	background-color: #FFD0B2;
	color: #000000;
}
.category .cat_lvl_2active {
	margin-left: 30px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFB27F;
	color: #FFFFFF;
}
.category .cat_lvl_3 {
	margin-left: 45px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_3:hover{
	background-color:#FFD0B2;
	color: #000000;
}
.category .cat_lvl_3active {
	margin-left: 45px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFB27F;
	color: #FFFFFF;
}
.category .cat_lvl_4 {
	margin-left: 60px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #FFFFFF; 
}
.category .cat_lvl_4:hover{
	background-color: #FFD0B2;
	color: #000000;
}
.category .cat_lvl_4active {
	margin-left: 60px;
        border: 2px solid rgba(0,0,0,0);
        background-color: #FFB27F;
	color: #FFFFFF;
}
.results {
		border: 1px solid #EEEEEE;
}