#newsletter .a {
	margin-bottom: 2px;
	font-weight: bold;
	color: #000000;
	padding: 5px 5px 0px 5px;
}

#newsletter .b {
	border: 1px solid #EEEEEE;
	padding: 5px;
	margin-bottom: 10px;
} 

#newsletter table {
	width: 100%;
}