/* Currency Converter */
.converter{
	position: relative;
	float: right;
	width: 194px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 80;
	min-height:25px;
	margin-bottom: 0px;
}
#header .converter {
	left: 80px;
	position: absolute;
}
.converter table tr td {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
