.productcat{
	width: 100%;
	border: 0px solid #000000;
	overflow: hidden;
}
.productcat_top{
	width: 600px;
	margin-left: 0px;
	height: 9px;
}
.productcat_bottom{
	height: 9px;
}
.productcat .pimage{
	float: right;
	width: 190px;
	padding-top: 2px;
	text-align: center;
	margin-right: 5px;
	padding-right: 5px;
}
.productcat .ptext{
	padding-top: 10px;
	padding-left: 8px;
	text-align: left;
	width: 380px;
}
.productcat .ptext b{
	text-transform:uppercase;
}
.productcat .ptext b a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.productcat .add{
	position: relative;
	left: 0px;
	padding-left: 10px;
	padding-top: 5px;
	bottom: 5px;
}
.productcat .options{
	left: 1px;
	padding-bottom: 5px;
}
.productcat .price_old {
	text-align: left;
	font-size: 18px;
}
.productcat .price_new {
	text-align: left;
	padding: 5px 0px;
}
.productcat .price {
	text-align: left;
	padding: 5px 0px;
}
.productcat .remaining {
	text-align: left;
	font-size: 11px;
}
.productcat .vendor {
	text-align: left;
}
.button{
	font-weight: 500;
}
.button:focus{
	color: #CC0000;
}
.category_row{
	width: 100%;
	min-height: 220px;
	margin-bottom: 2px;
	clear: both;
}
.category_options .man_select{
	position: relative;
}
